* text=auto

*.cs  text diff=csharp
*.fs  text diff=csharp
*.fsi text diff=csharp
*.fsx text diff=csharp

*.sln      text eol=crlf
*.csproj   text
*.fsproj   text
*.config   text
*.json     text

*.txt  text
*.html text linguist-documentation
*.css  text linguist-documentation

*.jpg  binary
*.png  binary
*.gif  binary
