/*
#wrapper {
    max-width: none;
}
*/

a, a code {
   color: #000000;
   text-decoration: underline;
}

code, .code {
   background-color: transparent;
}

code a, .code a {
    color: #000000;
    text-decoration: none;
    border: 0;
}

span.ck /* keyword */ /*, span.cb, span.cnu */ {
   color: #000000;
}

span.cr /* right arrow */ {
   color: #000000;
}

span.cc /* char literal */, span.cs /* string literal */ {
   color: #000000;
}

span.ce /* escaped char */ {
    color: #000000;
}

span.clc /* line comment*/, span.cbc /* block comment */ {
    color: #000000;
}

.interface-member-code pre {
    overflow: visible;
    white-space: pre;
    word-wrap: normal;
}

.interface-member-description {
    padding-left: 1em;
}

.interface-member-backlink {
    display: none;
}