
body {
    background-color: #e9e9e9;
}

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    height: 100%;
}


#fixed-layer {
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#wrapper {
    height: 100%;
    min-height: 100%;
    max-width: 73em;
    margin-left: auto;
    margin-right: auto;
}

#fixed-wrapper {
    position: relative;
    max-width: 73em;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
	background-color: #ffffff;
	border: solid 1px #d9d9d9;
}

#sidebar {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 22.5em;
    height: 100%;
    overflow: auto;
}

#main {
    position: relative;
    z-index: 3;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 40em;
    margin-left: 22.5em;
    background-color: #ffffff;
    border-left: solid 1px #d9d9d9;
}

#main-content {
    padding: 0 1.5em 1.5em 1.5em;
}

#top-links {
    margin-left: 1.5em;
    padding-top: 0.5em;
    margin-bottom: 0.5em;    
    margin-top: -0.07143em;
}
#top-links span {
    font-size: 0.9286em;
    color: #333;
}
#top-links a {
    color: #333;
}

#nav-tree {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1.5em;
}

#nav-tree > table {
    margin-top: -0.07143em;
}

#nav-tree table,
#nav-tree td.nav-title  {
    width: 100%;
}

.nav-entry td.n1 {
    font-size: 1.5em;
    padding-bottom: 0.6667em;
    line-height: 1em;
}

.nav-entry td.n1 a {
    color: #000000;
}

.nav-number {
    white-space: nowrap;
    min-width: 1em;
}

.nav-number.n1 {
    min-width: 0;
}

.nav-number a {
    padding-right: 0.5em;
}

.nav-number {
    text-align: right; /* must be right, even for left aligned number (for a continuous underline between number and title) */
}

.nav-space {
    display: none;
    /*uncomment for left-aligned numbers*/
    /*
    display: inline-block;
    width: 100%;
    height: 0px;
    vertical-align: middle;
    */
}

tbody.selected {
    background-color: #f8f8f8;
}

.nav-entry a {
    outline: none;
}

.nav-entry .selected a {
    color: #000000;
}

.nav-entry:hover a {
    text-decoration: none;
    border-bottom: 1px solid;
}

#copyright {
    margin-left: 1.5em;
    margin-top: 0.8em;
}

#copyright span {
    font-size: 0.9286em;
    margin-left: 0.1em;
    color: #333;    
}
#copyright a {
    color: #333;
}

