/* reset */

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
pre, a, code, em, strong, img, dl, dt, dd, ol, ul, li,
table, caption, thead, tbody, tfoot, th, tr, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    text-align:left;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* layout */

#fixed-layer {
    display: none;
}

#wrapper {
    max-width: 47.5em;
    margin-left: auto;
    margin-right: auto;
}

pre {
    overflow:auto;
}

.interface-member-code pre {
    overflow: visible;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* typography */

body {
    font-family: "Cambria", "Georgia", "Palatino", "Palatino Linotype", "Times", "Times New Roman", serif;
    font-size: 87.5%; /* 14px */
    line-height: 1.429em;
}

pre, code, .tt {
   font-family: Consolas, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Lucida Sans Typewriter", "Courier New", "Courier"; /* can't put monospace in there because otherwise WebKit browsers would change the default size */
   font-size: 0.9286em; /* 13px */
   font-size-adjust: 0.461; /* at the same font size Consolas and Courier New have a considerably smaller x-height than the other fonts*/
   line-height: 1.25em;
}

.title .section-number {
    /* Georgia's old-style figures don't look good in section numbers like 1.2.3.4 */
    font-family:  "Cambria", /* "Georgia", */ "Palatino", "Palatino Linotype", "Times", "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal; /* for IE */
}

h1  {
    font-size: 1.7143em;
    line-height: 1em;
    margin-top: 0.75em;
    margin-bottom: 0.5833em;
}

h2, h3 {
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 1em;
    margin-bottom: 0.6666em;
}

.para {
    margin-bottom: 1em;
}

ul, ol {
    padding-left: 2em;
}

ul { list-style-type: disc; }
ol { list-style-type: decimal; }

ul.l2 { list-style-type: circle; }
ul.l3 { list-style-type: square; }
ul.l4 { list-style-type: circle; }
ul.l5 { list-style-type: square; }

div.dl {
    margin-top: 1em;
    margin-bottom: 1em;
}

.dl-title {
    font-size: 1.3em;
    line-height: 1em;
    
}

dt {
    margin-top: 1em;
    font-style: italic;
}

dd {
    padding-left: 2em;
}

dd > .para > ul:first-child {
    padding-left: 0em;
}

.fn-title {
    font-weight: bold;
    margin-top: 3em;
    margin-bottom: 0.5em;
}

th.fn {
    padding-right: 1em;
}

th.fn, td.fn {
    padding-bottom: 1em;
}

em, .i {
    font-style: italic;
}

strong, .b  {
    font-weight: bold;
}

.s {
    text-decoration: line-through;
}

.small {
    font-size: 0.9em;
}

sup {
    font-size: 0.85em;
    line-height: 1em;
}

sup.fn-mark {
    font-size: 0.8em;
    line-height: 1em;
}

/* design */

#breadcrumbs {
    padding-top: 0.5em;
    margin-bottom: 0.5em;
}

.toc-toc-title {
    font-size: 1.5em;
    line-height: 1em;
    margin-top: 1em;
    margin-bottom: 0.3333em;
}

.local-toc ol {
    list-style-type:none;
    padding-left: 0;
}

td.toc-title  {
    width: 100%;
}

.toc-number {
    white-space: nowrap;
    min-width: 1em;
}

.toc-number a {
    padding-right: 0.5em;
}

.toc-number {
    text-align: right; /* must be right, even for left aligned number (for a continuous underline between number and title) */
}

.toc-space {
    display: none;
    /*uncomment for left-aligned numbers*/
    /*
    display: inline-block;
    width: 100%;
    height: 0px;
    vertical-align: middle;
    */
}
.toc-entry .selected a {
    color: #000000;
}

.toc-entry a {
    outline: none;
}

.toc-entry:hover a {
    text-decoration: none;
    border-bottom: 1px solid;
}

a {
    color: #003399;
}

a:hover {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

a:target, span:target, a:target code, span:target code,
.interface-member:target > .interface-member-code .interface-member-marker,
.table:target > table > caption .table-title {
    background-color: #dddddd;
}

div:target > .title > span, div:target > .title > span > code {
    background-color: #e4e4e4;
}


.para.lcinp + .para>.admonition {
    margin-top: 1.36em;
}

.admonition {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    padding-top: 0.2em;
    padding-bottom: 0.3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.admonition-title {
    font-weight: bold;
    font-style: italic;
}

.admonition .para {
    margin-top: 1em;
    margin-bottom: 0em;
}

.admonition .para._1 {
    margin-top: 0em;
}

code {
    white-space: pre;
    margin-left: 1px;
    margin-right: 1px;
    background-color: #f8f8f8;
}

.code {
   background-color : #f8f8f8;
   padding-bottom: 4px;
}

.code + .code {
    border-top: 1px solid #dcdcdc;
    padding-top: 3px;
}

p + .code {
    margin-top: 1px;
}

.code + p {
    margin-top: 1px;
}

.interface-member-code .code, .interface-code .code {
   padding: 2px;
   border-top: 1px solid #dcdcdc;
   border-bottom: 1px solid #dcdcdc;
}

code a, .code a {
    color: #000000;
    text-decoration: none;
    border-bottom: 1px dashed #c8c8c8;
}

code a:hover, .code a:hover {
    text-decoration: none;
    border-bottom-style: solid;
}

a code, .title code {
   color: inherit;
   background-color: transparent;
}

.title code a {
    border-bottom-style:none;
}

.title code a:hover {
    border-bottom-style:solid;
}

a code span, .title code span {
    color: inherit !important;    
}

/*
.cb: boolean literal
.cbc: block comment
.cc: char literal
.ce: escaped char
.cei: escaped identifier
.ci: identifier
.cin: invalid
.ck: keyword
.clc: line comment
.cm: member access/scope resolution operator
.cn: number literal
.cnu: null literal
.co: operator
.col: other literal
.cp: punctuation
.cpr: preprocessor
.cr: right arrow (in functional languages)
.cra: range operator/ ellipsis
.cre: reserved
.cs: string literal
.ctv: type variable
.cv: void
*/

span.ci /* identifier */,
span.tv /* type variable */,
span.cb /* boolean literal */,

span.cn  /* number literal */,
span.cnu /* null literal */,
span.cp  /* punctuation */,
span.cra /* range operator/ ellipsis */,
span.cm  /* member access/scope resolution operator */,
span.co  /* operator */ {
    color: #000000;
}


span.ck /* keyword */, span.cbt, span.cv {
   color: #0048a0;
}

span.cr /* right arrow */ {
    color: #0048a0;
}

span.cc /* char literal */, span.cs /* string literal */ {
   color: #940c00;
}

span.ce /* escaped char */ {
    color: #d0532c;
}

span.clc /* line comment*/, span.cbc /* block comment */ {
    color: #007e1e;
}

span.cin /* invalid */ {
    color: White;
    background-color: red;
}

span.cpr /* preprocessor */ {
    color: #009293;
}

/* the following definitions are for debugging the syntax highlighter */

/*
span.cp {
   color: red;
}

span.co {
    color: Fuchsia;
}
*/

/* interface reference */

.interface-member {
    margin-bottom: 2em;
}

.interface-member-code {
    margin-bottom: 0.5em;
}

.interface-member-backlink {
    float: right;
    color: #000000;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "DejaVu Sans", sans-serif;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: -2px;
}

.interface-member-backlink:hover {
    border-bottom: 0;
}

.interface-member-description {
    padding-left: 2.075em;
}

.interface-member-marker {
    font-weight: bold;
}

.interface-member-marker .ck {
   color: #003C85;
}


/* tables */

.table  {
    margin-top: 0.2em;
}

.table table {
    width: 100%;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.table thead th {
    font-size: 1.1em;
    font-weight: bold;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.table .table-caption-prefix {
    font-style: normal;
    margin-right: 0.2em;
    font-weight: bold;
}

.table caption {
    font-style: italic;
    padding-bottom: 0.3em;
}

.table td, .api-table th {
    padding-top: 0.3em;
    padding-bottom: 0.2em;
}

.table tbody td {
    border-top: 1px solid #dddddd;
}

.table td._1 {
    padding-right: 1em;
}

.api-table {
    margin-top: 2em;
}

#v0_9\.renamings caption {
    display: none;
}

.table td > ul {
    padding-left: 1em;
}

#relative-advantages thead th { padding-left: 1em; }
#relative-advantages td._1 { width: 34%; padding-right: 1em; }
#relative-advantages td._2 { width: 35%; padding-right: 1em; }

#relative-disadvantages { margin-top: 1.5em; }
#relative-disadvantages thead th { padding-left: 1em; }
#relative-disadvantages td._1 { width: 34%; padding-right: 1em; }
#relative-disadvantages td._2 { width: 35%; padding-right: 1em; }

/* parser overview tables */
#parsing-single-chars td._1 { width: 35%; }
#parsing-strings-directly td._1 { width: 38.5%; }
#parsing-strings-with-the-help-of-other-parsers td._1 { width: 36%; }
#parsing-whitespace td._1 { width: 35%; }
#chaining-and-piping-parsers td._1 { width: 27%; }
#parsing-sequences td._1 { width: 23%; }
#parsing-sequences td._2 { width: 22%; }
#parsing-alternatives-and-recovering-from-errors td._1 { width: 28%; }
#conditional-parsing-and-looking-ahead td._1 { width: 35%; }
#customizing-error-messages td._1 { width: 28%; }
#user-state-handling-and-getting-the-input-stream-position td._1 { width: 24%; }
